{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
<script src="{% static 'js/htmx-1.8.5.min.js' %}"></script>
<script src="{% static 'js/hyperscript-0.9.7.min.js' %}"></script>
{% endblock %}

{% block content %}
<!--Reusable modal-->
<div id="modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>
  
<!--Modal behavior (JS)-->
<script src="{% static 'js/dialog.js' %}"></script>

<div id="offcanvas" class="offcanvas offcanvas-end" id="offcanvas" hx-target="this">
</div>

<script src="{% static 'js/offcanvas.js' %}"></script>
{% endblock %}
