{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1>Hi {{ user.username }}!</h1>
    <p>You can see the available jobs here. </p>


    <form method ="get">
        <input type="text" value='{{request.GET.job_title__icontains}}' name="job_title__icontains"/>
    <button class="btn btn-primary" type="submit">Search</button>
    </form>


    <div class="row">
        <div class="col jobs-scroll">
            {% for job in jobs %}
                <div class="job-card" class="container">
                    <div class="d-flex justify-content-between">
                        <h4><a href="{% url 'jobdetails' job.job_id %}">{{ job.job_title }}</a></h4>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Options
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" 
                                id="sfl{{ job.job_id }}" 
                                href="javascript:saveForLater('{{ user.id }}','{{ job.job_id }}')">
                                    Save for later
                              </a>
                              <a class="dropdown-item" 
                                href="javascript:report('{{ user.id }}','{{ job.job_id }}')">
                                    Report
                              </a>
                            </div>
                          </div>
                    </div>
                    <a href="{% url 'userdetail' job.poster_id.id %}">
                        <div class="d-flex justify-content-start">
                            <img src="../static/assets/user.png"/>
                            <h5>{{ job.poster_id.username }}</h5>
                        </div>
                    </a>
                    <p>{{ job.points }} Points · {{ job.posting_time }} Ago · {{ job.location }}</p>
                    <p>{{ job.job_short_description }}</p>
                    <button class="btn btn-primary", onclick="apply('{{user.id }}','{{ job.job_id }}')", id = "btnApply{{ job.job_id }}">Apply</button>
                </div>
            {% endfor %}
        </div>
        <div class="col">
        </div>
    </div>

    <p><a href="{% url 'me' %}">My profile</a></p>
    <p><a href="{% url 'post' %}">Post a job</a></p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
</div>

<script>
    //Disable button
    //$("#apply" + id).attr('disabled','disabled');

    
    function saveForLater(uid, jid) {
        if ($("#sfl"+jid).text() == 'Save for later') {
            $("#sfl"+jid).text('Unsave')
        }
        else {
            $("#sfl"+jid).text('Save for later')
        }
        //Communicate with Python
        $.ajax({
            type: "POST",
            url: "{% url 'generic' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}', func: "sfl", uid: uid, jid: jid},
            success: function callback(response) {
                alert("You've successfully (un)saved the job. You can view the changes on your profile.")
            }

      

            //"ok" in HttpResponse triggers success and you just specify the message
        });
    }
        //write new funciton to send the message(what to do after clicking Apply) for the Django receive
        //by extending dict in the views.dict
    function apply(uid, jid) {
        
        $("#btnApply"+jid).attr("disabled", true);

        $.ajax({
            type: "POST", 
            url: "{% url 'generic' %}", 
            data: { csrfmiddlewaretoken: '{{ csrf_token }}', func: 'app', uid: uid, jid: jid}, 
            success: function callback(response) {
                alert("You've applied for the job. There are no changes in your profile.")
            }
        });
    }

    function report(uid, jid) {
        $.ajax({
            type: "POST", 
            url: "{% url 'generic' %}", 
            data: { csrfmiddlewaretoken: '{{ csrf_token }}', func: 'report', uid: uid, jid: jid}, 
            success: function callback(response) {
                alert("Thank you for reporting the job. We will review your complaint shortly.")
            }
        });
    }

//data: { csrfmiddlewaretoken: '{{ csrf_token }}', uid: uid, jid: jid, HERE you add function to call to Django through dictionary},
        //extend function_dict, with my function and implement it, the key is the same as the one sent with the javascript


</script>
{% endblock %}