{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Hi {{ user.username }}!</h1>
<p>You can see the available jobs here.</p>

<div class="jobs-scroll">
    {% for job in jobs %}
        <div class="job-card">
            <h3><a href="{% url 'jobdetails' job.job_id %}">{{ job.job_title }}</a></h3>
            <h4><a href="">{{ job.poster_id.username }}</a></h4>
            <p>{{ job.points }} · {{ job.posting_time }} · {{ job.location }}</p>
            <p>{{ job.job_short_description }}</p>
        </div>
    {% endfor %}
</div>


<p><a href="{% url 'post' %}">Post a job</a></p>
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% endblock %}