{% extends 'base-modal.html' %}
{% load static %}

{% block title %}Details of {{ job.job_title }}{% endblock %}

{% block head_extra %}
<script src="{% static 'js/htmx-1.8.5.min.js' %}"></script>
<script src="{% static 'js/hyperscript-0.9.7.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<div class="container my-4">
  <div class="card mb-1 details-card">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h4 class="card-title">{{ job.job_title }}</h4>
          <div class="d-flex justify-content-start card-subtitle mb-1 text-muted">
            <a href="{% url 'userdetails' job.poster_id.id %}">
              <img src="{{ job.poster_id.profile_picture.url }}">
            </a>
            <h5><a href="{% url 'userdetails' job.poster_id.id %}">{{ job.poster_id.username }}</a></h5>
          </div>
        </li>
        <li class="list-group-item">
          <i class="bi bi-geo-alt"></i>
          {{ job.location }}
          &nbsp;&nbsp;
          <i class="bi bi-hourglass-split"></i>
          {% if job.deadline is not None %}
            {{ job.deadline | date:'d M Y' }}
          {% else %}
            No Deadline
          {% endif %}
          &nbsp;&nbsp;
          <i class="bi bi-triangle"></i>
          {{ job.points }}
        </li>
        <li class="list-group-item">{{ job.job_description }}</li>
      </ul>
    </div>
    <div class="card-footer">
      {% if me.id != job.poster_id.id %}
        {% if status == "AP" %}
          {% include 'htmx/applied.html' %}
        {% elif status == "NA" %}
          <button class="btn btn-primary"
            id="btnApply{{ job.job_id }}"
            _="on click add @disabled to me"
            hx-post="{% url 'apply' %}"
            hx-vals='{"job_id": {{ job.job_id }} }'
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Apply</button>
        {% elif status == "AC" %}
          <button
          disabled
          class="btn btn-success"
          id = "btnApply{{ job_id }}">Accepted <i class="bi bi-check-lg"></i></button>
        {% elif status == "WD" %}
          <button
          disabled
          class="btn btn-dark"
          id = "btnApply{{ job_id }}">Withdrawn <i class="bi bi-x-lg"></i></button>
        {% elif status == "RE" %}
          <button
          disabled
          class="btn btn-danger"
          id = "btnApply{{ job_id }}">Rejected <i class="bi bi-x-lg"></i></button>
        {% elif status == "DN" %}
          <button
          disabled
          class="btn btn-success"
          id = "btnApply{{ job_id }}">Complete <i class="bi bi-check-lg"></i></button>
        {% endif %}
      {% elif not job.assigned and not job.completed %}
        <button class="btn btn-primary"
        id="btnCancel{{ job.job_id }}"
        _="on click add @disabled to me"
        hx-post="{% url 'cancel' %}"
        hx-vals='{"job_id": {{ job.job_id }} }'
        hx-swap="outerHTML"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Cancel Job</button>
      {% endif %}
    </div>
  </div>
  

  <div class="job-foot mt-5">
    <h5>Comments</h5>
    <div class="input-group flex-nowrap w-50">
        <textarea id="job-message-input" type="text" placeholder="Ask a question" class="p-2 mb-4" required></textarea>
        <span id="job-message-submit" type="button">Send</span>
    </div>
  </div>

  <div class="col w-50" id="comments">
    {% for comment in comments %}
      <div class="card details-card mb-2">
        <div class="card-body">
          <div class="d-flex justify-content-start card-subtitle mb-1 text-muted">
            <a href="{% url 'userdetails' comment.commenter_id.id %}">
              <img src="{{  comment.commenter_id.profile_picture.url }}">
            </a>
            <h5>
              <a href="{% url 'userdetails' comment.commenter_id.id %}">
                {{ comment.commenter_id.username }}
                {% if comment.commenter_id == job.poster_id %}
                  (Poster)
                {% endif %}
              </a>
            </h5>
          </div>
        <div>
            <div id="comment-content">{{ comment.content|linebreaks }}</div>
            <div>{{ comment.post_time | date:'H:i d M Y' }}</div>
        </div>
        </div>
      </div>
    {% endfor %}
  </div>


<script>
  const job_id = "{{ job.job_id }}";
  const username = "{{ me.username }}";
  const me_id = "{{ me.id }}";
  const poster_id = "{{ job.poster_id.id }}";
</script>
<script src="{% static 'js/jobdetails.js' %}"></script>
{{ block.super }}
{% endblock %}
