{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>

{% if next %}
    <h4>Please login to see this page.</h4>
{% endif %}

{% if form.errors %}
    <h4>Your username and password didn't match. Please try again.</h4>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<p>
    {{ form.username.label_tag }}
    {{ form.username }}
</p>
<p>
    {{ form.password.label_tag }}
    {{ form.password }}
</p>

<input type="submit" value="Login">
<input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock %}