<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="{% url 'home' %}"><img class="img-fluid" width="60" height="70" src="/static/assets/logo_full.png"/></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <span class="badge bg-success mx-3"
        hx-trigger="rebalance from:body, new_post from:body" 
        hx-swap="innerHTML" 
        hx-get="{% url 'balance' %}" 
        hx-target="this">
        {% include 'userprofile/balance.html' %}
      </span>
      <a class="nav-link"
        hx-get="{% url 'notifications' %}"
        hx-target="#offcanvas"
        data-bs-toggle="offcanvas"
        role="button"
        aria-expanded="false">
        <i class="bi bi-bell-fill" style='font-size:21px;'></i>
      </a>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/static/assets/pfp/{{me.id}}.jpeg">
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="{% url 'me' %}">Dashboard</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
          <li><a class="dropdown-item" href="{% url 'help' %}">Help</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
