{% load static %}
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Report job</h5>
    <button class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <form action="" hx-post="{% url 'report' %}" hx-trigger="submit" id="form">
    {% csrf_token %}
    <div class="modal-body">
      <p>
        {{ form.complaint.label_tag }}
        {{ form.complaint }}
      </p>
    </div>
    <div class="modal-footer">
      <input type="hidden" name="reported_job" value="{{ reported_job }}" />
      <input type="hidden" name="reported_user" value="{{ reported_user }}" />
      <input type="hidden" name="reporting_user" value="{{ reporting_user }}" />
      <input type="hidden" name="type" value="Job" />
      <!--if we ever allow reports on chats/comments/user create similar input-->
      
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <input type="submit" class="btn btn-primary"/>
    </div>
  </form>
</div>
