{% extends 'base.html' %}

{% block title %}Post a new job{% endblock %}

{% block content %}
<div class="container my-4">
  <h1>Hi! You can post a new job here.</h1>

  <form action="" method="post" id="form">
    {% csrf_token %}
    <p>
      {{ form.job_title.label_tag }}
      {{ form.job_title }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
          {% if key == "job_title" %}
            <p class="error">{{ value.as_text }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <p>
      {{ form.job_short_description.label_tag }}
      {{ form.job_short_description }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
          {% if key == "job_short_description" %}
            <p class="error">{{ value.as_text }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <p>
      {{ form.job_description.label_tag }}
      {{ form.job_description }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
          {% if key == "job_description" %}
            <p class="error">{{ value.as_text }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <p>
      {{ form.location.label_tag }}
      {{ form.location }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
          {% if key == "location" %}
            <p class="error">{{ value.as_text }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <p>
      The expected duration for the job. (It is used to calculate the rewards for the job.)<br/>
      {{ form.duration_days }} days {{ form.duration_hours }} hours. This means <span id="points">5</span> points.
    </p>
    <p>
      {{ form.deadline.label_tag }}<br/>
      {{ form.deadline }}<br/>
      {% if form.errors %}
        {% for key, value in form.errors.items %}
          {% if key == "deadline" %}
            <p class="error">{{ value.as_text }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <input type="hidden" name="poster_id" value="{{ poster_id }}" />
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
  <br/>
  <p><a href="{{ request.META.HTTP_REFERER }}">Go back</a></p>
</div>

<script>
  //Points
  var points = 5;
  var days = 0;
  var hours = 1;

  // Recalculate points
  $("select[name='duration_days']").on("input", function (e) {
    value = Number.parseFloat(e.target.value);

    //If the new value is a normal number
    if(!Number.isNaN(value)) {
      points += (value - days) * 24 * 5;
      days = value;

      //Display the new points
      $("#points").html(points);
    }
  });
  $("select[name='duration_hours']").on("input", function (e) {
    value = Number.parseFloat(e.target.value);

    //If the new value is a normal number
    if(!Number.isNaN(value)) {
      points += (value - hours) * 5;
      hours = value;

      //Display the new points
      $("#points").html(points);
    }
  });
</script>
{% endblock %}