{% extends 'base.html' %}

{% block title %}Post a new job{% endblock %}

{% block content %}
<div>
    <h1>Hi! You can post a new job here.</h1>

    {% if form.errors %}
        <div>
            {% for key, value in form.errors.items %}
                <strong class="error">{{ value }}</strong>
            {% endfor %}
        </div>
    {% endif %}

    <form action="" method="post" id="form">
        {% csrf_token %}

        <p>
            {{ form.job_title.label_tag }}
            <br/>
            {{ form.job_title }}
        </p> 
        <p>
            {{ form.job_short_description.label_tag }}
            <br/>
            {{ form.job_short_description }}
        </p> 
        <p>
            {{ form.job_description.label_tag }}
            <br/>
            {{ form.job_description }}
        </p> 
        <p>
            {{ form.location.label_tag }}
            <br/>
            {{ form.location }}
        </p>
        <p>
            The expected duration for the job. (It is used to calculate the rewards for the job.)
            <br/>
            {{ form.duration_days }} days {{ form.duration_hours }} hours
        </p>
        <p>
            The deadline to complete the job (optional)
            <br/>
            {{ form.deadline }}
        </p>

        <input type="hidden" name="poster_id" value="{{ poster_id }}" />

        <input type="submit" value="Submit" class="btn btn-light"/>
    </form>

    <p><a href="{{ request.META.HTTP_REFERER }}">Go back</a></p>
</div>

<script>
    //Points
    var points = 5;
    var days = 0;
    var hours = 1;

    // Recalculate points
    $('select[name="duration_days"]').on('input', function (e) {
        value = Number.parseFloat(e.target.value);
        if(!Number.isNaN(value)) {
            point += (value - days) * 24*5;
            days = value;
        }
    });
    $('select[name="duration_hours"]').on('input', function (e) {
        value = Number.parseFloat(e.target.value);
        if(!Number.isNaN(value)) {
            point += (value - hours) * 5;
            hours = value;
        }
    });

    // Append calculated point.
    $("#form").submit( function(eventObj) {
        $("<input />").attr("type", "hidden")
            .attr("name", "points")
            .attr("value", points)
            .appendTo("#form");

        return true;
    });
</script>
{% endblock %}