{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to aidoo{% endblock %}

<!-- leave this block in here -->
{% block style %}
  <style>
    body {
      background-color: rgb(41, 43, 41);
    }
  </style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top bottom" >
  <a class="navbar-brand" href="{% url 'welcome' %}"><img class="img-fluid" width="60" height="70" src="{% static '/assets/logo_full.png' %}"/></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="btn btn-outline-success" href="{% url 'login' %}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-dark" href="{% url 'signup'%}">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  <div class="text-center">
    <p class="bg-image">
      <img src="{% static '/assets/begood.png' %}" class="img-banner"/>
    </p>
  </div>
  <div class="app-desc">
    <h3>Put on your helping hat!</h3>
    <p class="txt-fmt">
      Welcome to the revolution of volunteering, coming to life right in Aberdeen. 
      Aidoo is an online volunteering platform designed to empower communities. We
      connect volunteers with aid positions and local businesses in their community.
      With Aidoo, we promise a fulfilling experience and a new outlook on the people you meet every day.

    </p>
  </div>
</div>
{% endblock %}
