{% extends 'base.html' %}
{% load static %}

{% block title %}Chats{% endblock %}

{% block head_extra %}
<script src="{% static 'js/htmx-1.8.5.min.js' %}"></script>
<script src="{% static 'js/hyperscript-0.9.7.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<div class="container">
  <div class="hello text-center justify-content-center">
    <h1>Your chats</h1>

    <button class="btn btn-secondary" hx-get="{% url 'chat-searching' %}" hx-target="#dialog">
      <i class="bi bi-search"></i>
    </button>
  </div>

  <div class="row d-flex justify-content-center">
    {% if rooms %}
      {% for room in rooms %}
        <p>{{ room.user_1.username }} - {{ room.user_2.username }}</p>
      {% endfor %}
    {% else %}
      <p>You have no chats. Start chatting by searching for someone.</p>
    {% endif %}
  </div>
</div>

<!--Reusable modal-->
<div id="modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<!--Modal behavior (JS)-->
<script src="{% static 'js/dialog.js' %}"></script>
{% endblock %}
