{% extends 'base-modal.html' %}
{% load static %}

{% block title %}Chats{% endblock %}

{% block head_extra %}
<script src="{% static 'js/htmx-1.8.5.min.js' %}"></script>
<script src="{% static 'js/hyperscript-0.9.7.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<div class="container">
  <div class="hello text-center justify-content-center">
    <h1>Your chats</h1>

    <button class="btn btn-secondary" hx-get="{% url 'chat-searching-modal' %}" hx-target="#dialog">
      <i class="bi bi-search"></i>
    </button>
  </div>

  <div class="row d-flex justify-content-center">
    {% if rooms %}
      {% include 'htmx/rooms-list.html' %}
    {% else %}
      <p>You have no chats. Start chatting by searching for someone.</p>
    {% endif %}
  </div>
</div>

{{ block.super }}
{% endblock %}
