{% extends 'base-modal.html' %}
{% load static %}

{% block title %}Chat with {{ room.user_2 }}{% endblock %}

{% block content %}
  {% include 'navigation.html' %}
  <div class="container my-4">
    <div class="row flex-column flex-md-row">
      <div class="col col-sm-3 mb-4">
        {% include 'userprofile/data-card.html' %}
        <br>
        <p>The messages are only stored for {{ ttl }} days. After that, they are completely deleted.</p>
      </div>
      <div class="col">
        <div class="chat_container">
          <div class="chat_top">{{ room.user_2 }}</div>
          <div class="line"></div>
          <div id="chat-messages">
            {% for message in messages %}
              {% if message.user_id == me %}
                <div class="chat">
                  <div>
                    <img src="{{ me.profile_picture.url }}" class="chat-profile-pic-right" alt="profile picture">
                  </div>
                  <div class="message-me">
                    <div class='message-text-right'>{{ message.content }}</div>
                    <div class='message-date-right'>{{ message.date_time }}</div>
                  </div>
                </div>
              {% else %}
                <div class="chat">
                  <div>
                    <img src="{{ room.user_2.profile_picture.url }}"
                      class="chat-profile-pic-left" alt="profile picture">
                  </div>
                  <div class="message-other">
                    <div class='message-text-left'>{{ message.content }}</div>
                    <div class='message-date-left'>{{ message.date_time }}</div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
          <div class="chat-foot">
          <div class="input-group flex-nowrap">
              <textarea id="chat-message-input" type="text" style="width: 100%; height: 50px; white-space: pre-wrap"
                        placeholder="Typing a message" required></textarea>
            <span id="chat-message-submit" type="button" >Send</span>
      </div>
          </div>
    </div>
  </div>
  </div>
  <script>
    const room_id = "{{ room.room_id }}";
    const username = "{{ me.username }}";
    const me_url = "{{ me.profile_picture.url }}";
    const other_user_url = "{{ room.user_2.profile_picture.url }}";
  </script>
  <script src="{% static 'js/room.js' %}"></script>

{{ block.super }}
{% endblock %}
