<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Search users by username</h5>
    <button class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    <input class="form-control" type="search" 
        name="user_name" placeholder="Begin typing..."
        hx-post="{% url 'chat-search' %}"
        hx-trigger="keyup changed delay:500ms, search" 
        hx-target="#search-results" 
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <table class="table" id="search-results">
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</div>
