<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasLabel">Notifications</h5>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  {% if not notifs %}
    <h6 class="text-muted text-center">No new notifications</h6>

  {% else %}
    <div class="list-group">
      {% for notifications in notifs %}
        <a href="{{notifications.link}}"
          class="list-group-item list-group-item-action"
          hx-post="{% url 'notification_seen' %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-vals='{"id":"{{notifications.notification_id}}"}'>
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                {% if not notifications.seen %}
                  <span class="position-absolute top-50 start-0
                  translate-middle p-2 bg-primary border border-light rounded-circle"></span>
                {% endif %}
                {{ notifications.title }}
              </h5>
            <small class="text-muted">{{ notifications.time_of_notification |date:"jS M G:i" }}</small>
          </div>
          <p class="mb-1">{{ notifications.content }}</p>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
