{% extends 'base-modal.html' %}
{% load static %}

{% block title %}Chats - Aidoo{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col col-md-9 col-sm-12 jobs-scroll mb-4">
      <div class="d-flex justify-content-between mb-2">
        <h3>Chats</h3>
        <button class="btn btn-secondary" hx-get="{% url 'chat-searching-modal' %}" hx-target="#dialog">
          Search users&nbsp;&nbsp;<i class="bi bi-search"></i>
        </button>
      </div>
      {% if rooms %}
        {% include 'htmx/rooms-list.html' %}
      {% else %}
        <p>You have no chats. Start chatting by searching for someone.</p>
      {% endif %}
    </div>
  </div>
</div>

{{ block.super }}
{% endblock %}
