{% extends 'base.html' %}
{% load static %}

{% block title %}Store{% endblock %}

{% block content %}
{% include 'navigation.html' %}
<div class="row">
  <div class="col"> 
    <div class="card" style="width: 18rem;">
      <img src="item.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">reward</h5>
        <h7 class="points">price: 50p</h7>
        <p class="card-text">You can buy this item as a reward for completing approximately 3-4job. Once redeemed points cannot be retreived.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="item.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">reward</h5>
        <h7 class="points">price: 50p</h7>
        <p class="card-text">You can buy this item as a reward for completing approximately 3-4job. Once redeemed points cannot be retreived.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="item.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">reward</h5>
        <h7 class="points">price: 50p</h7>
        <p class="card-text">You can buy this item as a reward for completing approximately 3-4job. Once redeemed points cannot be retreived.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="item.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">reward</h5>
        <h7 class="points">price: 50p</h7>
        <p class="card-text">You can buy this item as a reward for completing approximately 3-4job. Once redeemed points cannot be retreived.</p>
        <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="item.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">reward</h5>
        <h7 class="points">price: 50p</h7>
        <p class="card-text">You can buy this item as a reward for completing approximately 3-4job. Once redeemed points cannot be retreived.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div><div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="item.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">reward</h5>
        <h7 class="points">price: 50p</h7>
        <p class="card-text">You can buy this item as a reward for completing approximately 3-4job. Once redeemed points cannot be retreived.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div><div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="item.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">reward</h5>
        <h7 class="points">price: 50p</h7>
        <p class="card-text">You can buy this item as a reward for completing approximately 3-4job. Once redeemed points cannot be retreived.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div><div class="col">
    <div class="card" style="width: 18rem;">
      <img src="item.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">reward</h5>
        <h7 class="points">price: 50p</h7>
        <p class="card-text">You can buy this item as a reward for completing approximately 3-4job. Once redeemed points cannot be retreived.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


