{% extends 'base.html' %}
{% load static %}

{% block title %}Store{% endblock %}

{% block head_extra %}
<script src="{% static 'js/htmx-1.8.5.min.js' %}"></script>
<script src="{% static 'js/hyperscript-0.9.7.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<div class="container">
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Get your reward</h1>
        <p class="lead text-muted">A place to pick a reward for your earned aidoo coins.</p>
      </div>
    </div>
  </section>
</div>

<div class="album py-1 bg-light">
  <div class="btn-group justify-content-end">
    <button type="button" class="btn btn-secondary shop-button"><i class="bi bi-basket2-fill"></i></button>
    <button type="button" class="btn btn-secondary shop-button"><i class="bi bi-sort-up"></i></button>
    <button type="button" class="btn btn-secondary shop-button"><i class="bi bi-sort-down"></i></button>

  </div>
</div>


<div class="container-fluid">  
  <div class="d-flex flex-row">
    
  {% for item in items %}
  
    <div class="card rounded-4 shadow-sm" style="width: 18rem; margin:10px">
      <div class="card-body">

        <div class="card-title">
          <h4>{{item.item_name}}</h4>
          <!--picture-->
          <svg class="bd-placeholder-img card-img-top" role="img" aria-label="Placeholder: Thumbnail" ><rect fill="#ffffff"/><text fill="#eceeef">Picture</text></svg>

        </div>
        <div class="card-text">
          <p>{{item.description}}</p>
          <span>{% include "htmx/buy-item.html" %}</span>
          <small class="text-muted">{{item.limit}}</small>
        </div>

      </div>
    </div>
  
    {% endfor %}
  </div>

</div>
{% endblock %}
