{% extends 'base.html' %}

{% block title %}Forgot your password - Aidoo{% endblock %}

{% block content %}
<div class="center">
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  {% if form.errors %}
    <strong class="error">Enter a valid email address.</strong>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    <p class="w-75">
      {{ form.email.label_tag }}
      {{ form.email }}
    </p>

    <input type="submit" value="Send me instructions!">
  </form>
</div>
{% endblock %}
