body {
    background-color: #ffffff;
    color: #000;
}

.error {
    color: red;
}

.center {
    margin: auto;
    width: 50%;
}

@media (max-width: 768px) {
    .center {
        width: 100%;
    }
  }

.jobs-scroll {
    overflow: auto;
}

.job-card {
    border: 2px solid #80e27e;
    border-radius: 15px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3%;
}

.job-card img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}