body {
    background-color: #ffffff;
    color: #000;
}

.jobs-scroll {
    overflow: auto;
}

.job-card {
    border: 2px solid #80e27e;
    border-radius: 15px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3%;
}

.job-card img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
