[report]
omit =
    Golf/asgi.py
    Golf/processors.py
    Golf/production.py
    Golf/settings.py
    heroku_db.py
    daily.py
    monthly.py
    manage.py
    */migrations/*
    chat/routing.py
    jobs/routing.py
