{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container text-center mt-5 mb-5">
  <h2>Login</h2>

  {% if next %}
    <strong class="error">Please login to see this page.</strong>
  {% endif %}

  {% if form.errors %}
    <strong class="error">Your username and password didn't match. Please try again.<br />Or check your inbox if you haven't activited your account (you have 3 days to do it after registration).</strong>
  {% endif %}

  <div class="row">
    <div class="col d-flex justify-content-center">
      <form method="post" action="{% url 'login' %}" class="login-form">
        {% csrf_token %}

        <p>
          {{ form.username.label_tag }}
          <br/>
          {{ form.username }}
        </p>
        <p>
          {{ form.password.label_tag }}
          <br/>
          {{ form.password }}
        </p>

        <input type="submit" value="Login" class="btn btn-dark">
        <input type="hidden" name="next" value="{{ next }}">
      </form>

    </div>
  </div>
  <p><a href="{% url 'password_reset_form' %}">Forgotten password?</a></p>
  <p>No account? <a href="{% url 'signup' %}">Create one now.</a></p>
  <p>You can read our Privacy Policy <a href="{% url 'privacy' %}">here.</a></p>
</div>
{% endblock %}
