{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="center">
  <h2>Login</h2>

  {% if next %}
    <strong class="error">Please login to see this page.</strong>
  {% endif %}

  {% if form.errors %}
    <strong class="error">Your username and password didn't match. Please try again.</strong>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <p>
        {{ form.username.label_tag }}
        {{ form.username }}
    </p>
    <p>
        {{ form.password.label_tag }}
        {{ form.password }}
    </p>

    <p><a href="{% url 'password_reset_form' %}">Forgotten password?</a></p>

    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <p>No account? <a href="{% url 'signup' %}">Create one now.</a></p>
</div>
{% endblock %}