{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="center">
  {% if validlink %}
    <h1>Set a new password!</h1>

    <p>
      <ul>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
      </ul>
    </p>

    {% if form.errors %}
      {% comment %}
      We have more possible errors here, but it is fine to display them here
        since they are all about the passwords. 
      {% endcomment %}
      <div>
        {% for key, value in form.errors.items %}
          <strong class="error">{{ value }}</strong>
        {% endfor %}
      </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}

      <p>
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
      </p>
      <p>
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
      </p>

      <input type="submit" value="Change my password">
    </form>

  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}