{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="center">
  <h2>Sign up</h2>

  <p>Requirements:
    <ul>
      <li>The maximum length for the <b>username</b> is 100 characters.</li>
      <li>Your <b>password</b> can't be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can't be a commonly used password.</li>
      <li>Your password can't be entirely numeric.</li>
    </ul>
  </p>

  {% if form1.errors %}
    <div>
      {% for key, value in form1.errors.items %}
        <strong class="error">{{ value }}</strong>
      {% endfor %}
    </div>
  {% endif %}

  {% if form2.errors %}
    <div>
      {% for key, value in form2.errors.items %}
        <strong class="error">{{ value }}</strong>
      {% endfor %}
    </div>
  {% endif %}

  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <p>
      {{ form1.first_name.label_tag }}<br>
      {{ form1.first_name  }}
    </p>
    <p>
      {{ form1.last_name.label_tag }}<br>
      {{ form1.last_name }}
    </p>
    <p>
      {{ form1.email.label_tag }}<br>
      {{ form1.email }}
    </p>
    <p>
      {{ form1.username.label_tag }}<br>
      {{ form1.username }}
    </p>
    <p>
      {{ form1.password1.label_tag }}<br>
      {{ form1.password1 }}
    </p>
    <p>
      {{ form1.password2.label_tag }}<br>
      {{ form1.password2 }}
    </p>
    {% if form2 %}
    <p>
      {{ form2.date_of_birth.label_tag }}<br>
      {{ form2.date_of_birth }}
    </p>
    {% endif %}
    <button type="submit">Sign up</button>
  </form>

  <p>Already have an account? <a href="{% url 'login' %}">Login.</a></p>
</div>
{% endblock %}