{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="center my-4">
  <div class="container text-center mt-5 mb-5">
    {% load static %}
    <p> 
      <img src="{% static 'assets/logo_full.png' %}" alt="logo" width="150 " >
    </p>
  <h2>Sign up</h2>
  </div>
  <p>
    <h3>Requirements:</h3>
    <ul>
      <li>The maximum length for the <b>username</b> is 100 characters.</li>
      <li>Your <b>password</b> can't be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can't be a commonly used password.</li>
      <li>Your password can't be entirely numeric.</li>
    </ul>
  </p>
  <br/>
  <br/>

  <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      {{ form.first_name.label_tag }}<br>
      {{ form.first_name  }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
            {% if key == "first_name" %}
                <strong class="error">{{ value.as_text }}</strong>
            {% endif %}
        {% endfor %}
    {% endif %}
    </p>
    <p>
      {{ form.last_name.label_tag }}<br>
      {{ form.last_name }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
            {% if key == "last_name" %}
                <strong class="error">{{ value.as_text }}</strong>
            {% endif %}
        {% endfor %}
    {% endif %}
    </p>
    <p>
      {{ form.biography.label_tag }}<br>
      {{ form.biography }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
            {% if key == "biography" %}
                <strong class="error">{{ value.as_text }}</strong>
            {% endif %}
        {% endfor %}
    {% endif %}
    </p>
    <p>
      {{ form.email.label_tag }}<br>
      {{ form.email }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
            {% if key == "email" %}
                <strong class="error">{{ value.as_text }}</strong>
            {% endif %}
        {% endfor %}
    {% endif %}
    </p>
    <p>
      {{ form.username.label_tag }}<br>
      {{ form.username }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
            {% if key == "username" %}
                <strong class="error">{{ value.as_text }}</strong>
            {% endif %}
        {% endfor %}
    {% endif %}
    </p>
    <p>
      {{ form.password1.label_tag }}<br>
      {{ form.password1 }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
            {% if key == "password1" %}
                <strong class="error">{{ value.as_text }}</strong>
            {% endif %}
        {% endfor %}
    {% endif %}
    </p>
    <p>
      {{ form.password2.label_tag }}<br>
      {{ form.password2 }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
            {% if key == "password2" %}
                <strong class="error">{{ value.as_text }}</strong>
            {% endif %}
        {% endfor %}
    {% endif %}
    </p>
    <p>
      {{ form.date_of_birth.label_tag }}<br>
      {{ form.date_of_birth }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
            {% if key == "date_of_birth" %}
                <strong class="error">{{ value.as_text }}</strong>
            {% endif %}
        {% endfor %}
    {% endif %}
    </p>
    <p>
      {{ form.profile_id.label_tag }}<br>
      {{ form.profile_id }}
      {% if form.errors %}
        {% for key, value in form.errors.items %}
            {% if key == "profile_id" %}
                <strong class="error">{{ value.as_text }}</strong>
            {% endif %}
        {% endfor %}
    {% endif %}
    </p>
    <br/>
    <div class="container text-center mt-5 mb-5">
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
 
  </form>
  <div class="container text-center mt-5 mb-5">
    <p>Already have an account? <a href="{% url 'login' %}">Login.</a></p>
    <p>You can read our Privacy Policy <a href="{% url 'privacy' %}">here.</a></p>
  </div>

</div>
{% endblock %}
