<div id="rooms-list" class="col jobs-scroll mb-5">
  {% for room in rooms %}
    <div class="card job-card mb-2">
      <div class="card-body">
        <div class="d-flex justify-content-start card-subtitle mb-1 text-muted">
          <a href="{% url 'userdetails' room.user_2.id %}">
            <img src="{{room.user_2.profile_picture.url}}">
          </a>
          <h5><a href="{% url 'userdetails' room.user_2.id %}">{{ room.user_2.username }}</a></h5>
        </div>
        {% if room.me_started %}
          You started the chat on {{ room.creation_time | date:'d M Y' }}.
        {% else %}
          {{ room.user_2.username }} started the chat on {{ room.creation_time | date:'d M Y' }}.
        {% endif %}
        <p><i>{{ room.last_message }}</i></p>
        {% include 'htmx/chat_button.html' %}
      </div>
    </div>
  {% endfor %}
</div>
