<div class="card">
  <img src="/static/assets/pfp/{{ user.id }}.jpeg" class="profile-pic mx-2 mt-2" alt="profile picture">
  <div class="card-body">
    <h5 class="card-title mb-0">{{ user.first_name }} {{ user.last_name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ user.username }}</h6>
    <p class="card-text">Joined: {{ user.date_joined | date:'d M Y'}}<br/>
      Rating: {{ user.rating }}</br>
      Bio: {{ user.biography }}</br>
    </p>
      {% if not in_room %}
        {% if me != user %}
            {% include 'htmx/chat_button.html' %}
        {% endif %}
      {% endif %}
  </div>
</div>
