{% extends 'base.html' %}
{% load static %}

{% block title %}My profile{% endblock %}

{% block head_extra %}
<script src="{% static 'js/htmx-1.8.5.min.js' %}" defer></script>
<script src="{% static 'js/hyperscript-0.9.7.min.js' %}" defer></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<div class="container-sm text-center mt-1 mb-1">
    <h1>Notifications</h1>
</div>

{% if notif_count == 0 %}
    <div class="container-sm text-center mt-1 mb-1">
        <h6>No new notifications.</h6>
    </div>
{% else %}
    <div class="container-sm text-center mt-1 mb-1">
        <h6>Unseen</h6>
    </div>
    {% for notifications in notifs %}
        {% if notifications.seen == False %}
            <div class="container my-4">
                <div class="container text-center mt-1 mb-1">
                    <div class="card mb-1 Notifications">     
                        <div class="card-body">
                            <h6>{{notifications.content}}</h6>
                        </div>
                        {% include 'htmx/notifications-seen.html' %}    
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="container text-center mt-1 mb-1">
        <h6>Seen</h6>
    </div>
    {% for notifications in notifs %}
        {% if notifications.seen == True %}
            <div class="container my-4">
                <div class="container-{50} text-center mt-1 mb-1">
                    <div class="card mb-1 Notifications">     
                        <div class="card-body">
                            <h6>{{notifications.content}}</h6>
                        </div>
                        <a href="{{notifications.link}}" class="stretched-link"></a>    
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
    
{% endblock %}
