{% extends 'base.html' %}
{% load static %}

{% block title %}My profile{% endblock %}

{% block head_extra %}
<script src="{% static 'js/htmx-1.8.5.min.js' %}" defer></script>
<script src="{% static 'js/hyperscript-0.9.7.min.js' %}" defer></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<div class="container-sm text-center mt-1 mb-1 p-1">
  <h1>Notifications</h1>
</div>
<div class="container w-75">
  <div class="card mb-1">
    {% if not notifs %}
      <div class="container-sm my-1 p-5 w-50">
        <h6 class="card-subtitle mb-2 text-muted">No new notifications</h6>
      </div>
    {% else %}
      {% for notifications in notifs %}
          <div class="card container-fluid position-relative my-1 w-50">
            {% if not notifications.seen %}
              <div class="d-flex justify-content-start mt-1">
                <h6 class="notifcation-title mb-0"><strong>{{ notifications.title }}</strong></h6>
                <span class="badge rounded-pill text-bg-success new-notification mx-1 mb-0">New</span>
              </div>
              <p class="mt-0">{{ notifications.content }}</p>
              {% include 'htmx/notifications-seen.html' %}
            {% else %}
              <h6 class="text-muted mt-1 mb-0">{{ notifications.title }}</h6>
              <p class="text-muted">{{ notifications.content }}</p>
              <a href="{{notifications.link}}" class="stretched-link"></a>
            {% endif %}
          </div>      
      {% endfor %}
    {% endif %}
  </div>
</div>
    
{% endblock %}
