<div class="d-flex justify-content-end my-2">
  <button hx-get="{% url 'post' %}" hx-target="#dialog">
    New Post&nbsp;&nbsp;<i class="bi bi-plus-square"></i>
  </button>
</div>

{% if posts %}
  {% for job in posts %}
    <div class="card mb-2 job-card">
      <div class="card-body">
      <h5 class="card-title"><a href="{% url 'jobdetails' job.job_id %}">{{job.job_title }}</a></h5>
      <span>
          {% include 'htmx/job-applicants.html' %}
      </span>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="text-center">
    <p>You haven't posted any job yet.</p>
  </div>
{% endif %}
