{% extends 'base.html' %}

{% block title %}My profile{% endblock %}

{% block content %}
<h1>My username: {{ user.username }}</h1>

<p><a href="{% url 'home' %}">Go back</a></p>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'details')" id="details_tab">Personal details</button>
  <button class="tablinks" onclick="openTab(event, 'saved')" id="saved_tab">Saved jobs</button>
  <button class="tablinks" onclick="openTab(event, 'applied')" id="applied_tab">Applied jobs</button>
  <button class="tablinks" onclick="openTab(event, 'posted')" id="posted_tab">Posted jobs</button>
</div>

<div id="details" class="tabcontent">
  <h3>Personal details</h3>
  <p>Real name: {{ user.first_name }} {{ user.last_name }}</p>
  <p>Email address: {{ user.email }}</p>
  <p>Date of birth: {{ user.date_of_birth }}</p>

  <p>Balance: {{ user.balance }} points</p>
  <p>Rating: {{ user.rating }}</p>

  <p>Last logged in: {{ user.last_login }}</p>
  <p>Joined: {{ user.date_joined }}</p>
</div>

<div id="saved" class="tabcontent">
  <h3>Saved jobs</h3>
  {% if saved %}
      <div>
          {% for job, time in saved %}
          <p>
              <a href="{% url 'jobdetails' job.job_id %}">{{ job.job_title }}</a> ({{job.points}} points)
              <br>Saved at {{ time }}
          </p>
          {% endfor %}
      </div>
  {% else %}
      <p>I don't have any saved jobs.</p>
  {% endif %}
</div>

<div id="applied" class="tabcontent">
  <h3>Applied</h3>
  {% if applied %}
    {% for job, status in applied %}
      <div>
        <a href="{% url 'jobdetails' job.job_id %}">{{ job.job_title }}</a> ({{job.points}} points)
        <p>Posted on: {{ job.posting_time }}</p>
        <p>Status: {{ status }}</p>
        {% if status == "AC" %}
          <p>Poster: {{ job.poster_id.username }} <a href="mailto:{{ job.poster_id.email }}">{{ job.poster_id.email }}</a></p>
        {% endif %}
      </div>
      <hr>
    {% endfor %}
  {% else %}
      <p>I haven't applied for any jobs.</p>
  {% endif %}
</div>

<div id="posted" class="tabcontent">
  <h3>Posted jobs</h3>
  {% if posted %}
    {% for job, applicants in posted %}
      <div>
        <a href="{% url 'jobdetails' job.job_id %}">{{ job.job_title }}</a> ({{job.points}} points)
        <p>Posted on: {{ job.posting_time }}</p>
        {% if not job.completed %}
          <h6>Applicants:</h6>
          {% if applicants %}
            {% if not job.assigned %}
              <form method="post" action="{% url 'me' %}#posted" id="applicant-{{job.job_id}}">
                {% csrf_token %}
                <select name="accept" id="option-{{job.job_id}}"class="select">
                  <option disabled selected value="-1">Select somebody</option>
                  {% for applicant in applicants %}
                    {% if applicant.status == "AP" %}
                      <option value="{{ applicant.applicant_id.id }}">{{ applicant.applicant_id.username }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="hidden" value='{{job.job_id}}' name="accepted" >
                <button type="submit" disabled id="accept-{{job.job_id}}">Accept</button>
              </form>
            {% else %}
              {% for applicant in applicants %}
                {% if applicant.status == "AC" %}
                  <p>{{ applicant.applicant_id.username }}: <a href="mailto:{{ applicant.applicant_id.email }}">{{ applicant.applicant_id.email }}</a></p>
                  <form method="post" action="{% url 'me' %}#posted">
                    {% csrf_token %}
                    <input type="hidden" value='{{job.job_id}}' name="jid">
                    <input type="hidden" value='{{applicant.applicant_id.id}}' name="appid">
                    <input type="hidden" value='exchange' name="kind">
                    <button type="submit" class="btn btn-primary" id="close{{job.job_id}}">Job Done</button>
                  </form>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% else %}
            <p>No one has applied for this job yet.</p>
          {% endif %}
        {% else %}
          <p>This job is complete.</p>
        {% endif %}
      </div>
      <hr>
    {% endfor %}
  {% else %}
      <p>I haven't posted any jobs.</p>
  {% endif %}
</div>

<script>
  // Open a tab
  function openTab(evt, content) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(content).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the active tab from URL and open it (if there is anything)
  var anchorHash = location.href;
  if(anchorHash.lastIndexOf('#') != -1) {
    // Get the id from the end of the URL
    anchorHash = anchorHash.substr(anchorHash.lastIndexOf('#')+1);
    document.getElementById(anchorHash + "_tab").click();
  }
  else {
    // Default tab
    document.getElementById("details_tab").click();
  }

  // Get all the selects from the page
  let selects = document.getElementsByClassName("select");

  //Add the listener to every select.
  Array.prototype.forEach.call(selects, function(select) {
    // When user clicked on select element.
    select.addEventListener("click", () => {
      // If default value is changed.
      select.addEventListener("change", () => {
        // Get the button id
        var button_id = "accept-" + select.id.split("-")[1]
        // and enable it.
        document.getElementById(button_id).disabled = false;
      });
    });
  });

</script>
{% endblock %}