{% extends 'base-modal.html' %}
{% load static %}

{% block title %}My profile{% endblock %}

{% block head_extra %}
<script src="{% static 'js/htmx-1.8.5.min.js' %}"></script>
<script src="{% static 'js/hyperscript-0.9.7.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<div class="container my-4">
  <div class="row">
    <div class="col-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" hx-get="{% url 'privatecard' %}" hx-target="#controls-div">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" hx-get="{% url 'commitments' %}" hx-target="#controls-div">Commitments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" hx-get="{% url 'posts' %}" hx-target="#controls-div">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" hx-get="{% url 'applications' %}" hx-target="#controls-div">Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  hx-get="{% url 'bookmarks' %}" hx-target="#controls-div">Bookmarks</a>
        </li>
      </ul>
    </div>
    <div class="col-10" id="controls-div">
      <div>{% include 'userprofile/private-card.html' %}</div>
    </div>
  </div>

    <button
      type="button"
      class="btn btn-danger btn-floating btn-lg"
      id="btn-back-to-top"
      >
      <i class="bi bi-arrow-up"></i>
  </button>
</div>

<script src="{% static 'js/private.js' %}"></script>

{{ block.super }}
{% endblock %}
