{% extends 'base.html' %}

{% block title %}Profile of {{ user.username }}{% endblock %}

{% block content %}
<h1>{{ user.username }}</h1>

<p>Your real name: {{ user.first_name }} {{ user.last_name }}</p>
<p>Your email address: {{ user.email }}</p>

<p>You last logged in: {{ user.last_login }}</p>
<p>You joined: {{ user.date_joined }}</p>

<h2>Saved jobs</h2>
{% if saved %}
    <div>
        {% for job, time in saved %}
        <p>
            <a href="{% url 'jobdetails' job.job_id %}">{{ job.job_title }}</a> ({{job.points}} points)
            <br>You saved at {{ time }}
        </p>
        {% endfor %}
    </div>
{% else %}
    <p>You don't have any saved jobs.</p>
{% endif %}


<p><a href="{% url 'home' %}">Go back</a></p>
{% endblock %}