{% extends 'base.html' %}

{% block title %}Profile of {{ user.username }}{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<div class="container my-4">
  <div class="row">
    <div class="user-sidebar col-3 hstack">
      <div>
        <img src="../static/assets/pfp/{{viewed_user.id}}.jpeg" class="profile-pic img-fluid mb-4"/>
        <h4>{{ viewed_user.first_name }} {{ viewed_user.last_name }}</h4>
        <h5>{{ viewed_user.username }}</h4>
        <p>Joined: {{ viewed_user.date_joined | date:'d M Y'}}</p>
        <p>Rating: {{ viewed_user.rating }}</p>
      </div>
      <div class="d-flex bar">
        <div class="vr"></div>
      </div>
    </div>
    <div class="user-jobs col">
      <div class="mb-5">
        <h5>Current jobs</h5>
        {% if posted_active %}
          {% for job in posted_active %}
            <div class="mini-job-card container">
              <div class="row">
                <div class="col">
                  <p><a href="{% url 'jobdetails' job.job_id %}">{{ job.job_title }}</a></p>
                </div>
                <div class="col">
                  <p>{{ job.posting_time | date:'d M Y' }}</p>
                </div>
                <div class="col">
                  {% if job.deadline is not None %}
                    <p>{{ job.deadline | date:'d M Y' }}</p>
                  {% else %}
                    <p>None</p>
                  {% endif %}
                </div>
                <div class="col">
                  <p>{{ job.points }} Points</a></p>
                </div>
                <div class="col">
                  <p>{{ job.location }}</a></p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
        <p>{{viewed_user.first_name}} doesn't have any active jobs.</p>
        {% endif %}
      </div>

      <h5>Past jobs</h5>
      {% if posted_inactive %}
        {% for job in posted_inactive %}
          <div class="mini-job-card container">
            <div class="row">
              <div class="col">
                <p><a href="{% url 'jobdetails' job.job_id %}">{{ job.job_title }}</a></p>
              </div>
              <div class="col">
                <p>{{ job.posting_time | date:'d M Y' }}</p>
              </div>
              <div class="col">
                {% if job.deadline is not None %}
                  <p>{{ job.deadline | date:'d M Y' }}</p>
                {% else %}
                  <p>None</p>
                {% endif %}
              </div>
              <div class="col">
                <p>{{ job.points }} Points</a></p>
              </div>
              <div class="col">
                <p>{{ job.location }}</a></p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>{{viewed_user.first_name}} doesn't have any archived jobs.</p>
      {% endif %}
    </div>
  </div>
  

  <p><a href="{{ request.META.HTTP_REFERER }}">Go back</a></p>
</div>
{% endblock %}