{% extends 'base.html' %}
{% load static %}

{% block title %}My profile{% endblock %}

{% block head_extra %}
<script src="{% static 'js/htmx-1.8.5.min.js' %}" defer></script>
<script src="{% static 'js/hyperscript-0.9.7.min.js' %}" defer></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}

<h2>Account Settings:</h2>

<form method="post" action="{% url 'settings' %}">
    {% csrf_token %}
    <p>
      {{ form.opt_in_emails.label_tag }}
      <input type="checkbox" name="opt_in" {% if user.opt_in_emails %}checked{% endif %}>
    </p>

    <div class="container text-left mt-5 mb-5">
      <button class="btn btn-primary" type="submit">Apply</button>
    </div>

{% endblock %}