{% if not job.completed %}
  <h6>Applicants:</h6>
  {% if applicants %}
    {% if not job.assigned %}
      <form
        _="on htmx:beforeSend add @disabled to <button/> in me"
        hx-post="{% url 'selectapplicant' %}"
        hx-target="closest span"
        hx-swap="innerHTML"
        hx-vals='{"job_id": {{ job.job_id }} }'
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
          <button class="btn btn-primary"
            id="accept-{{job.job_id}}"
            type="submit">Accept
          </button>
      </form>
    {% else %}
      {% for applicant in applicants %}
        {% if applicant.status == "AC" %}
          <p>{{ applicant.applicant_id.username }} </p>
            <p><a href="{% url 'chat-room' applicant.applicant_id.id%}" class="btn btn-primary">Chat</a>
          <button class="btn btn-primary"
              _="on click add @disabled to me"
              hx-post="{% url 'jobdone' %}"
              hx-target="closest span"
              hx-swap="innerHTML"
              hx-vals='{"job_id": {{ job.job_id }} }'
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Job Done</button></p>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% else %}
    <p>No one has applied for this job yet.</p>
  {% endif %}
{% else %}
  <p>This job is complete.</p>
{% endif %}
