<p class="card-text">
    <i class="bi bi-activity"></i>
    <strong>
      {{ status }}
    </strong>
    &nbsp;
    <i class="bi bi-geo-alt"></i>
    {{ job.location }}
    &nbsp;
    <i class="bi bi-hourglass-split"></i>
    {% if job.deadline is not None %}
      {{ job.deadline | date:'d M Y' }}
    {% else %}
      None
    {% endif %}
    &nbsp;
    <i class="bi bi-triangle"></i>
    {{ job.points }}
  </p>
{% if status == "AC" %}
    <p>Poster: {{ job.poster_id.username }}</p>
    <p><a href="{% url 'chat-room' job.poster_id.id%}" class="btn btn-primary">Chat</a></p>
{% elif status == "AP" %}
    <button class="btn btn-outline-danger"
        _="on click add @disabled to me"
        hx-post="{% url 'withdraw' %}"
        hx-target="closest span"
        hx-swap="innerHTML"
        hx-vals='{"job_id": {{ job.job_id }} }'
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Withdraw</button>
    <p>If you withdraw, you cannot apply again.</p>
{% elif status == "WD" %}
    <p>You withdrew from this job.</p>
{% elif status == "RE" %}
    <p>The poster rejected your application. Sorry.</p>
{% elif status == "DN" %}
    <p>You finished this job.</p>
{% elif status == "C" %}
    <p>There is a conflict between you and the poster. We are working on it.</p>
{% endif %}
