{% if not job.completed %}
  {% if applicants %}
    {% if not job.assigned %}
      <p>You can now select an applicant for this job.</p>
      <div class="d-flex justify-content-start">
        <form
          _="on htmx:beforeSend add @disabled to <button/> in me"
          hx-post="{% url 'selectapplicant' %}"
          hx-target="closest span"
          hx-swap="innerHTML"
          hx-vals='{"job_id": {{ job.job_id }} }'
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            <button class="btn btn-primary mx-1"
              id="accept-{{job.job_id}}"
              type="submit">Select Applicant
            </button>
        </form>
        <button class="btn btn-danger"
          id="btnCancel{{ job.job_id }}"
          _="on click add @disabled to me"
          hx-post="{% url 'cancel' %}"
          hx-vals='{"job_id": {{ job.job_id }} }'
          hx-swap="outerHTML"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Cancel Job</button>
      </div>
    {% else %}
      {% for applicant in applicants %}
        {% if applicant.status == "AC" %}
          <p>{{applicant.applicant_id.first_name}} {{applicant.applicant_id.last_name}}
            (<a href="{% url 'userdetails' applicant.applicant_id.id %}">{{ applicant.applicant_id.username }}</a>)
            was selected for this job.
          </p>
          <p><a href="{% url 'chat-room' applicant.applicant_id.id %}" class="btn btn-primary">Chat</a>
          <button class="btn btn-success"
              _="on click add @disabled to me"
              hx-post="{% url 'jobdone' %}"
              hx-target="closest span"
              hx-swap="innerHTML"
              hx-vals='{"job_id": {{ job.job_id }} }'
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Job Done</button></p>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% else %}
    <p>No one has applied for this job yet.</p>
    <button class="btn btn-danger"
        id="btnCancel{{ job.job_id }}"
        _="on click add @disabled to me"
        hx-post="{% url 'cancel' %}"
        hx-vals='{"job_id": {{ job.job_id }} }'
        hx-swap="outerHTML"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Cancel Job</button>
  {% endif %}
{% else %}
  <p>This job is complete.</p>
{% endif %}
