<!-- Currently doesn't display the notifications within the navbar.-->
<a
  hx-post="{% url 'notification_nav' %}"
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="../static/assets/bell.svg">
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item text-center" href="{% url 'notifications' %}">Notifications{{notifications.content}}</a></li>
      <li><hr class="dropdown-divider"></li>
      {% if notif_seen_count == 0 %}
        <li><a class="dropdown-item text-center disabled" href="#">No new notifications.</a></li>
      {% endif %}
      {% for notifications in notifs %}
        {% if notifications.seen == False %}
          <li><a class="dropdown-item text-center" href="{{notifications.link}}">{{notifications.content}}</a></li>
          {% include 'htmx/notifications-seen.html' %}
        {% endif %}
      {% endfor %}
    </ul>
  </li>
</a>







